{% extends 'main\base.html' %}

    {% block content %}
        
        
        <div class="container">
            <h2 class='center-align'>HOME PAGE</h2>


            <!-- Page Content goes here -->

            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <span  class="card-title"  style="color:red "><i><b><center>AVNEESH JHA</center></b></i></span>
                        <div class="card-image">
                          <img src="https://media-exp1.licdn.com/dms/image/C5603AQFzvhKPDrM7kQ/profile-displayphoto-shrink_400_400/0/1588857349481?e=1645660800&v=beta&t=LD0ZwmlL9gQhmjEFIxmEnPv74vW24hsP_3IUKeFegMA">
                          
                        </div>
                        
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                          <a href="https://www.linkedin.com/in/avneesh-jha-7b01b4171/">LINKEDIN</a>
                        </div>
                        <div class="card-action">
                            <a href="https://github.com/Avneesh-AJ">GITHUB</a>
                          </div>
                    </div>

                </div>

                <div class="col s12 m8">

                    <div class="card">
                        <div class="card-image">
                          
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information.
                          I am convenient because I require little markup to use effectively.</p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>


        </div>
        
    {% endblock %}


    {% block script %}
        <script>
           
            
        </script>
        
    {% endblock %}
    
